body {
	background-color: #2c3e50;
	font-family: sans-serif;
	position: absolute;
}

header nav {
	position: fixed;
	width: 100%;
	background-color: #34495e;
	left: 0;
	top: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left:10px;
	text-transform: uppercase;
	font-size: 15px;
}
 nav ul li a {
 	color: #ccc;
 	text-decoration: none;
 }

#inicio {
	width: 100%;
	height: 100vh;
	color: #eee;
	display: table;
}

.seccion {
	display: table-cell;
	vertical-align: middle;
}

#inicio h1 {
	text-transform: uppercase;
	font-size: 30px;
}

#inicio h2 {
	font-size: 20px;
}

#inicio h2 .amperson {
	background-image: url(../section-2/images/amperson.svg);
	width: 24px;
	height: 24px;
	display: inline-block;
}

#inicio .info {
	position: relative;
}

#contacto {
	width: 100%;
	height: 100vh;
}



